@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');


.body{
  text-align:center;
  color:black;
  margin:10px;
  font-style: oblique;
  font-family: 'Zilla Slab', serif;
  font-size: medium;
  display: block;
  margin:auto;
}
.bgimg{
  background-image: url("https://i.pinimg.com/originals/c2/6e/62/c26e62c9e3c45ed28f17907c75d00274.jpg");
  align-self: auto;
}

.section{
  text-align: center;
  padding:0.5rem 0.5rem;
  max-width:400px;
  display:block;
  margin:auto;
  border-top: 100px;
  border-bottom: 100px;
}

.head{
  color: white;
  margin:auto;
  display:block;
  max-width: 900px;
}

.input{
  background-color: white;
  color: black;
  border: 2px solid black;
  height:20vh;
  width:95%;
  text-decoration: bold;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Zilla Slab', serif;
}

button{
  text-align:center;
  align-self: center;
  background-color: white;
  color: black;
  font-display: bold;
  display:block;
  padding:0.5rem;
  border-width: 2px solid black;
  margin-left: 0.5rem;
  font-family: 'Zilla Slab', serif;
}

.output{
  background-color: white;
  color:black;
  border: 2px solid black;
  height:20vh;
  width:95%;
  text-align: left;
  margin:auto;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Zilla Slab', serif;
}

.foot{
  color: white;
  max-width:900px;
  display:block;
  margin:auto;
}