@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');


.body{
  background-image: url("images/bgimage.svg");
  text-align:center;
  color:black;
  margin:10px;
  font-style: oblique;
  font-family: 'Zilla Slab', serif;
  font-size: medium;
}

.section{
  text-align: center;
  padding:0.5rem 0.5rem;
  max-width:400px;
  display:block;
  margin:auto;
  border-top: 100px;
  border-bottom: 100px;
}

.head{
  background-color: rgb(79, 235, 113);
  color: black;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin:auto;
  display:block;
  max-width: 900px;
}

.input{
  background-color: white;
  color: black;
  border: 2px solid black;
  height:20vh;
  width:95%;
  text-decoration: bold;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Zilla Slab', serif;
}

button{
  text-align:center;
  align-self: center;
  background-color: rgb(79, 235, 113);
  color: black;
  font-display: bold;
  display:block;
  padding:0.5rem;
  border-width: 2px solid black;
  margin-left: 0.5rem;
  font-family: 'Zilla Slab', serif;
}

.output{
  background-color: white;
  color:black;
  border: 2px solid black;
  height:20vh;
  width:95%;
  text-align: left;
  margin:auto;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Zilla Slab', serif;
}

.foot{
  background-color: rgb(79, 235, 113);
  color: black;
  border-radius:0.5rem;
  border: 1px solid black;
  max-width:900px;
  display:block;
  margin:auto;
}